.custom-main-part input{
    width: 250px;
}
.home-screen .fa-bars{
    font-size: 23px;
    color: red;
}
.home-screen{
    margin-left:90px;
}
.custom-main-part .wd-modules .assignment-topbar .assignment-message{
    font-size: 20px;
}
.custom-main-part .wd-modules .assignment-topbar .total-percentage{
    border: 1px solid black;
    padding: 8px;
}
.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}