.wd-modules,
.wd-modules .list-group-item{
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid rgb(167, 167, 167) !important;
    border-left: none !important;
    min-width: 500px; /* Set minimum width for modules */
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    border-top: 1px solid gray !important;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.wd-modules .sub-item > span {
    padding-left: 30px;
}

.wd-modules .sub-slides > a {
    color: red;
}

.wd-modules .sub-slides > .fa-link {
    color: green;
    margin: 0px 5px;
}
