.row .fa-bars{
    font-size: 23px;
    color: red;
}
.home-screen-bar{
    margin-left:90px;
}
.RightPart .course-status span{
    font-size: 20px;
}
.RightPart .course-status button{
    font-size: 17px;
}
.RightPart .to-do span{
    font-size: 20px;
}
.RightPart .to-do .message{
    font-size: 18px;
}
.RightPart .coming-up>span{
    font-size: 20px;
}
.RightPart .coming-up-message .message{
    font-size: 18px;
}
.RightPart .coming-up-message .more-message>.message{
    font-size: 10px;
}
