.container-fluid .fa-bars{
    font-size: 23px;
    color: red;
}
.home-screen{
    margin-left:90px;
}
table .message td:first-child{
    color: red;
}
table .table-header td:first-child{
    padding-right: 50px;
}
.table th, .table td {
    min-width: 200px;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}